# Environment
.env

# Traefik
traefik/acme.json

# Data directories
n8n/data/
nextcloud/db/
nextcloud/html/
nextcloud/data/
nextcloud/config/
nextcloud/apps/
portainer/data/
authentik/postgresql/
authentik/redis/
authentik/media/
authentik/certs/
authentik/custom-templates/

# Mailcow
mailcow-dockerized/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~
